.ant-descriptions-bordered .ant-descriptions-item-label {
    background-color: #f5f5f5;
}

.ant-descriptions-item-content {
    background-color: #ffffff;
}

.modal-body {
    overflow-y: auto;
    height: 60vh;
    margin: 16px 0;
    padding: 0 16px;
}